.button-submit {
  $self: &;

  &__btn--white {
    @include neuzeit-font-semi-bold;
    align-items: center;
    background: $secondary-color;
    border-radius: 10px;
    color: #15151a;
    font-size: 17px;
    height: 55px;
    letter-spacing: -0.41px;
    width: 100%;
  }
}
