.button-submit {
  $self: &;

  &__button--white {
    @include neuzeit-font-semi-bold;
    align-items: center;
    background: $secondary-color;
    border-radius: 10px;
    color: $black-button-text;
    font-size: $semi-font-size;
    height: 55px;
    letter-spacing: -0.41px;
    width: 100%;
  }
}
