.form-input-group {
  display: flex;
  flex-direction: column;
  height: 90px;
  margin-bottom: 20px;
  width: 320px;

  &__label {
    color: $secondary-color;
    font-size: $small-font-size;
    font-weight: $font-weight-bold;
    letter-spacing: -0.24px;
    line-height: 20px;
    margin: 0 0 10px;
  }

  &__input {
    align-items: center;
    background: rgba(255, 255, 255, 0.18);
    border: transparent;
    border-radius: 12px;
    color: $secondary-color;
    display: flex;
    font-size: $semi-font-size;
    font-weight: $font-weight-normal;
    height: 55px;
    letter-spacing: -0.41px;
    line-height: 22px;
    margin: auto;
  }

  &__input:focus {
    background: rgba(255, 255, 255, 0.18);
    box-shadow: none;
    color: $secondary-color;
    outline: none;
  }

  &__forgot-password {
    bottom: 38px;
    color: $secondary-color;
    display: flex;
    font-size: $small-font-size;
    font-weight: $font-weight-normal;
    letter-spacing: -0.24px;
    line-height: 20px;
    margin-left: auto;
    opacity: 0.5;
    position: relative;
    right: 8px;
  }

  &__forgot-password:hover {
    color: $secondary-color;
    text-decoration: none;
  }
}
