.logo-auth {
  $self: &;

  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &__img {
    align-self: center;
    height: 40px;
    margin: 0 24px 24px;
    width: 167.84px;
  }

  &__label {
    align-self: center;
    color: #fff;
    display: flex;
    font-size: 17px;
    letter-spacing: -0.41px;
    line-height: 22px;
    opacity: 0.6;
    text-align: center;
  }
}
