.logo-auth {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(24px);

  &__img {
    align-self: center;
    margin: rem(0 24px 24px);
  }

  &__label {
    align-self: center;
    color: $secondary-color;
    display: flex;
    font-size: $semi-font-size;
    letter-spacing: rem(-0.41px);
    line-height: rem(22px);
    opacity: 0.6;
    text-align: center;
  }
}
