.auth-alert {
  display: flex;
  width: 100%;
  min-height: rem(96px);
  margin-bottom: rem(24px);
  padding-top: rem(15px);

  background: map-get($brand-black, 'light');
  border-radius: rem(12px);

  backdrop-filter: blur(rem(54px));

  &__icon {
    @include make-col(2);

    text-align: center;
  }

  &__message {
    @include make-col(10);
  }

  &__title {
    margin-bottom: rem(10px);

    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'bolder');
    font-size: map-get($font-sizes, 'md');
    line-height: rem(20px);
  }

  &__info,
  &__error {
    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'normal');
    font-size: map-get($font-sizes, 'sm');
    line-height: rem(18px);

    opacity: 0.6;
  }
}
