.form-input-group {
  display: flex;
  flex-direction: column;
  width: rem(320px);
  height: rem(90px);
  margin-bottom: rem(20px);

  &__label {
    margin: rem(0 0 10px);

    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'bolder');
    font-size: map-get($font-sizes, 'sm');
    line-height: rem(20px);
  }

  &__forgot-password {
    position: relative;
    right: rem(8px);
    bottom: rem(38px);

    display: flex;
    margin-left: auto;

    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'normal');
    font-size: map-get($font-sizes, 'sm');
    line-height: rem(20px);

    opacity: 0.5;
  }

  &__forgot-password:hover {
    color: map-get($brand-white, 'primary');
    text-decoration: none;
  }
}
