.form-input-group {
  display: flex;
  flex-direction: column;
  width: rem(320px);
  height: rem(90px);
  margin-bottom: rem(20px);

  &__label {
    margin: rem(0 0 10px);

    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'bolder');
    font-size: map-get($font-sizes, 'md');
    line-height: rem(20px);
  }

  &__input {
    display: flex;
    align-items: center;
    width: 100%;
    height: rem(55px);
    margin: auto;
    padding: rem(6px) rem(12px);

    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'normal');
    font-size: map-get($font-sizes, 'lg');
    line-height: rem(22px);

    background: rgba(255, 255, 255, 0.18);
    border: transparent;
    border-radius: rem(12px);

    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &__input:focus {
    color: map-get($brand-white, 'primary');

    background: rgba(255, 255, 255, 0.18);
    outline: none;
    box-shadow: none;
  }

  &__forgot-password {
    position: relative;
    right: rem(8px);
    bottom: rem(38px);

    display: flex;
    margin-left: auto;

    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'normal');
    font-size: map-get($font-sizes, 'md');
    line-height: rem(20px);

    opacity: 0.5;
  }

  &__forgot-password:hover {
    color: map-get($brand-white, 'primary');
    text-decoration: none;
  }
}
