.form-input-group {
  display: flex;
  flex-direction: column;
  height: rem(90px);
  margin-bottom: rem(20px);
  width: rem(320px);

  &__label {
    color: $secondary-color;
    font-size: map-get($font-sizes, 'md');
    font-weight: map-get($font-weight, 'bolder');
    letter-spacing: -0.24px;
    line-height: rem(20px);
    margin: rem(0 0 10px);
  }

  &__input {
    @extend .form-control;

    align-items: center;
    background: rgba(255, 255, 255, 0.18);
    border: transparent;
    border-radius: rem(12px);
    color: $secondary-color;
    display: flex;
    font-size: map-get($font-sizes, 'lg');
    font-weight: map-get($font-weight, 'normal');
    height: rem(55px);
    letter-spacing: -0.41px;
    line-height: rem(22px);
    margin: auto;
  }

  &__input:focus {
    background: rgba(255, 255, 255, 0.18);
    box-shadow: none;
    color: $secondary-color;
    outline: none;
  }

  &__forgot-password {
    bottom: rem(38px);
    color: $secondary-color;
    display: flex;
    font-size: map-get($font-sizes, 'md');
    font-weight: map-get($font-weight, 'normal');
    letter-spacing: -0.24px;
    line-height: rem(20px);
    margin-left: auto;
    opacity: 0.5;
    position: relative;
    right: rem(8px);
  }

  &__forgot-password:hover {
    color: $secondary-color;
    text-decoration: none;
  }
}
