.form-button {
  &__button--white {
    @extend .btn;

    align-items: center;
    background: $secondary-color;
    border-radius: rem(10px);
    color: map-get($brand-gray, 'transparent');
    font-size: map-get($font-sizes, 'lg');
    font-weight: map-get($font-weight, 'bolder');
    height: rem(55px);
    letter-spacing: -0.41px;
    width: 100%;
  }
}
