.auth-logo {
  display: flex;
  flex-direction: column;
  margin-bottom: rem(24px);

  &__img {
    align-self: center;
    margin: rem(0 24px 24px);
  }

  &__label {
    align-self: center;

    color: map-get($brand-white, 'primary');
    font-size: map-get($font-sizes, 'lg');
    line-height: rem(22px);
    text-align: center;

    opacity: 0.6;
  }
}
