.page-background {
  &__image {
    overflow: auto;
    background: {
      color: $primary-color;
      size: cover;
    }
  }

  &__overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, $primary-color 100%);
    backdrop-filter: blur(rem(50px));
    mix-blend-mode: normal;
  }
}
