.page-background {
  width: 100vw;
  height: 100vh;

  &__image {
    width: 100%;
    height: 100%;

    overflow: auto;
    background: {
      color: map-get($brand-black, 'primary');
      size: cover;
    }
  }

  &__overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, map-get($brand-black, 'primary') 100%);
    backdrop-filter: blur(rem(50px));
    mix-blend-mode: normal;
  }
}
