.rating {
  margin-top: rem(45px);

  &__list {
    width: fit-content;
    margin: 0 auto;
    padding: 0;

    list-style: none;
  }

  &__emoji {
    display: inline-flex;

    font-size: map-get($font-sizes, 'xxl');
    line-height: rem(34px);
    letter-spacing: rem(16px);

    cursor: pointer;

    transition: color 200ms;
  }

  &__list:hover > &__emoji,
  &__emoji--selected {
    opacity: 1;
  }

  &__emoji,
  &__list > &__emoji:hover ~ &__emoji {
    opacity: 0.5;
  }

  &__emoji--selected {
    opacity: 1;
  }
}
