.select-search {
  position: relative;

  &__value {
    height: rem(56px);
  }

  &__value::after {
    position: relative;
    bottom: rem(34px);

    display: flex;
    width: rem(10px);
    height: rem(10px);
    margin-right: rem(20px);
    margin-left: auto;

    border-right: rem(1px) solid map-get($brand-white, 'primary');
    border-bottom: rem(1px) solid map-get($brand-white, 'primary');

    transform: rotate(45deg);

    content: '';
    pointer-events: none;
  }

  &__input {
    @extend .input;

    height: 100%;
  }

  &__select {
    position: absolute;

    width: 100%;

    max-height: 180px;
    overflow: auto;

    background: rgba(255, 255, 255, 0.18);
    border-radius: 12px;
    box-shadow: 0 rem(1px) rem(2px) map-get($brand-gray, 'transparent');
  }

  &__options {
    padding: 0;

    list-style: none;
  }

  &__option {
    display: block;
    width: 100%;
    height: rem(45px);
    padding: rem(0 16px);

    color: map-get($brand-white, 'primary');
    font-size: rem(14px);
    text-align: left;

    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  &__row:not(:first-child) {
    border-top: rem(1px) solid map-get($brand-gray, 'transparent');
  }
}
