@mixin auth-container() {
  @include make-container();

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: rem(320px);
  min-height: 100vh;
  padding: 0;
}
