@mixin details-container() {
  @include make-container();

  display: flex;
  flex-direction: column;
  max-width: rem(704px);
  padding: rem(66px 32px);

  @include media-breakpoint-up(md) {
    padding: rem(66px 0);
  }
}
