@mixin neuzeit-font-normal() {
  font: {
    family: 'Neuzeit S LT Std', serif;
    style: normal;
    weight: normal;
  }
}

@mixin neuzeit-font-semi-bold() {
  font: {
    family: 'Neuzeit S LT Std', serif;
    style: normal;
    weight: 800;
  }
}
