// Colors
$color-black: (
  lighter-transparent: rgba(37, 37, 37, 0.6),
  light: #15151a,
  primary: #000
);

$color-white: (
  primary: #fff
);

$primary-color: map-get($color-black, 'primary') !default;
$secondary-color: map-get($color-white, 'primary') !default;


$grid: (
  tablet: 768px,
  desktop: 1140px
);
