// Colors
$brand-black: (
  lighter: hsla(0, 0%, 12%, 0.9),
  light: hsl(240, 11%, 9%),
  primary: hsl(0, 0%, 0%)
);

$brand-white: (
  light: hsla(0, 0%, 100%, 0.2),
  primary: hsl(0, 0%, 100%)
);

$brand-gray: (
  primary: hsl(240, 5%, 79%),
  transparent: hsla(0, 0%, 15%, 0.6),
  dark: hsl(0, 0%, 27%)
);

$brand-red: (
  primary: hsl(0, 100%, 50%)
);

// Font Size
$font-sizes: (
  xsm: 0.8125rem, // 13px
  sm: 0.9375rem,  // 15px
  md: 1.0625rem,  // 17px
  lg: 1.25rem,    // 20px
  xl: 1.375rem,   // 22px
  xxl: 1.75rem,   // 28px
  xxxl: 2.125rem, // 34px
  xxxxl: 4rem     // 64px
);

// Font Weight
$font-weight: (
  normal: 400,
  bolder: 800
);
