// Colors
$white: #fff !default;
$black: #000 !default;
$primary-color: $black !default;
$secondary-color: $white !default;
$black-button-text: #15151a !default;

// Font Size
$semi-font-size: rem(17px);
$small-font-size: rem(15px);
$font-weight-normal: normal;
$font-weight-bold: 800;

