// Font Size
$font-sizes: (
  default: 1rem,  
  xxs: 0.6875rem,
  xs: 0.75rem,
  sm: 0.875rem,
  md: 0.9375rem,
  lg: 1.0625rem,
  xl: 1.25rem,
  xxl: 1.5rem,
  xxxl: 1.85rem,
  xxxxl: 2rem
);
// Font Weight
$font-weight: (
  normal: 400,
  bold: 700,
  bolder: 800
);
