.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__detail {
    @include details-container();
    position: relative;

    flex: 1;
  }

  &__date {
    margin: 0;

    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'bolder');
    font-size: map-get($font-sizes, 'md');
    line-height: rem(18px);
  }

  &__day {
    color: map-get($brand-white, 'primary');
    font-weight: map-get($font-weight, 'bolder');
    font-size: map-get($font-sizes, 'xxxl');
    line-height: rem(41px);
  }
}
