.home-header {
  @include header-container();

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__site-logo {
    width: rem(134px);
    height: rem(32px);
  }

  &__menu {
    z-index: 2;

    order: 2;
    margin-left: auto;
  }

  &__user-image {
    width: rem(36px);
    height: rem(36px);

    border-radius: 50%;
    cursor: pointer;
  }
}
