.loader-details {
  @extend .container;

  display: flex;
  flex-direction: column;
  max-width: rem(704px);
  padding: rem(50px 32px);
  @include media-breakpoint-up(md) {
    padding-top: rem(50px);
  }

  &__date .react-loading-skeleton {
    width: rem(117px);
    height: rem(18px);

    border-radius: rem(12px);
  }

  &__day {
    margin-top: rem(14px);
  }

  &__day .react-loading-skeleton {
    width: rem(90px);
    height: rem(18px);

    border-radius: 12px;
  }

  &__survey-img {
    margin-top: rem(65px);
  }

  &__survey-img .react-loading-skeleton {
    height: rem(305px);

    border-radius: rem(12px);
  }

  &__survey-title {
    max-width: rem(318px);
    margin-top: rem(38px);
  }

  &__survey-title .react-loading-skeleton {
    width: rem(318px);
    height: rem(18px);

    border-radius: rem(12px);
  }

  &__survey-desc {
    margin-top: rem(8px);
  }

  &__survey-desc .react-loading-skeleton {
    width: rem(207px);
    height: rem(18px);

    border-radius: rem(12px);
  }

  &__navigation {
    position: relative;

    order: 2;
    margin-left: auto;
    @include media-breakpoint-up(md) {
      bottom: rem(65px);
    }
  }

  &__navigation .react-loading-skeleton {
    width: rem(56px);
    height: rem(56px);

    border-radius: 50%;
  }
}
