.questions {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;

  &__header {
    @include header-container();
    height: rem(60px);

    padding: rem(32px 32px 0);
  }

  &__quit-survey {
    order: 2;
    margin-left: auto;

    cursor: pointer;
  }

  &__container {
    @include details-container();
    position: relative;

    flex: 1 1 auto;
  }

  &__details {
    margin: auto 0;
  }

  &__number {
    color: map-get($brand-white, 'primary');
    font-size: map_get($font-sizes, 'lg');
    line-height: rem(20px);

    opacity: 0.5;
  }

  &__title {
    margin: 0;
    padding-top: rem(10px);

    color: map-get($brand-white, 'primary');
    font-size: map_get($font-sizes, 'xxxl');
    line-height: rem(41px);
  }

  &__footer {
    display: flex;
    flex: 0 1 rem(88px);
    width: 100%;
    padding-right: rem(32px);
  }

  &__navigation {
    order: 2;
    margin-left: auto;
  }

  &__navigation-icon {
    margin-left: rem(3px);
  }

  &__next-question {
    position: relative;

    display: flex;
    align-content: center;
    justify-content: center;

    float: right;
    width: rem(56px);
    height: rem(56px);
    margin-left: auto;

    background-color: map-get($brand-white, 'primary');
    border-radius: 50%;
    cursor: pointer;
  }
}
